<!doctype html>
<title>Escolha o match mais próximo.</title>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <table class="table" id="tab_principal">
        <tbody>
        {% for item in lis1%}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
          </tr>
        {% endfor %}
          
        </tbody>
        </table>
    </div>


    <div class="col-md-6">

      <table class="table" id="tab_secundaria">
        <tbody>
        {% for item in lis2%}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>


<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="/static/style.css">

<script src="/static/codigos.js"></script>
